.itemCardContainer {
    width: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card {
    display: flex;
    padding: 10px;
}

.imageContainer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage {
    height: 100%;
    width: 100%;
}
.textContainer {
    width: 70%;
    height: 180px;
}
.title {
    text-align: center;
}
.subtitle {
    margin: 0 0 0 20px;
}
